<a href="https://colab.research.google.com/github/brandon-setegn/data-mining-business-analytics/blob/master/west-roxbury-home-values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#let's import the libraries we are going to need
import os, csv
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import statsmodels.api as sm
#%matplotlib notebook
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
os.chdir('/content/drive/MyDrive/Development/machine_learning/dmba')

In [ ]:
# Load Data
housing_df = pd.read_csv('WestRoxbury.csv')

In [ ]:
housing_df

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,None
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,None
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2,0,1,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5797,404.8,5092,6762,1938,2594,1714,2.0,9,3,2,1,1,1,Recent
5798,407.9,5131,9408,1950,2414,1333,2.0,6,3,1,1,1,1,None
5799,406.5,5113,7198,1987,2480,1674,2.0,7,3,1,1,1,1,None
5800,308.7,3883,6890,1946,2000,1000,1.0,5,2,1,0,1,0,None
5801,447.6,5630,7406,1950,2510,1600,2.0,7,3,1,1,1,1,None

In [16]:
housing_df.shape
housing_df.head()
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5802 entries, 0 to 5801
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TOTAL VALUE   5802 non-null   float64
 1   TAX           5802 non-null   int64
 2   LOT SQFT      5802 non-null   int64
 3   YR BUILT      5802 non-null   int64
 4   GROSS AREA    5802 non-null   int64
 5   LIVING AREA   5802 non-null   int64
 6   FLOORS        5802 non-null   float64
 7   ROOMS         5802 non-null   int64
 8   BEDROOMS      5802 non-null   int64
 9   FULL BATH     5802 non-null   int64
 10  HALF BATH     5802 non-null   int64
 11  KITCHEN       5802 non-null   int64
 12  FIREPLACE     5802 non-null   int64
 13  REMODEL       5802 non-null   object
dtypes: float64(2), int64(11), object(1)
memory usage: 634.7+ KB

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE
count,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.00000,5802.000000
mean,392.685715,4939.485867,6278.083764,1936.744916,2924.842123,1657.065322,1.683730,6.994829,3.230093,1.296794,0.613926,1.01534,0.739917
std,99.177414,1247.649118,2669.707974,35.989910,883.984726,540.456726,0.444884,1.437657,0.846607,0.522040,0.533839,0.12291,0.565108
min,105.000000,1320.000000,997.000000,0.000000,821.000000,504.000000,1.000000,3.000000,1.000000,1.000000,0.000000,1.00000,0.000000
25%,325.125000,4089.500000,4772.000000,1920.000000,2347.000000,1308.000000,1.000000,6.000000,3.000000,1.000000,0.000000,1.00000,0.000000
50%,375.900000,4728.000000,5683.000000,1935.000000,2700.000000,1548.500000,2.000000,7.000000,3.000000,1.000000,1.000000,1.00000,1.000000
75%,438.775000,5519.500000,7022.250000,1955.000000,3239.000000,1873.750000,2.000000,8.000000,4.000000,2.000000,1.000000,1.00000,1.000000
max,1217.800000,15319.000000,46411.000000,2011.000000,8154.000000,5289.000000,3.000000,14.000000,9.000000,5.000000,3.000000,2.00000,4.000000

In [25]:
# prompt: Using dataframe housing_df: find max total value by lot sqft, bucketing lot sqft into groups of 300

housing_df.groupby(pd.cut(housing_df['LOT SQFT '], 300)).agg({'TOTAL VALUE ': 'max'})

                      TOTAL VALUE
LOT SQFT
(951.586, 1148.38]           176.9
(1148.38, 1299.76]           295.6
(1299.76, 1451.14]           244.2
(1451.14, 1602.52]             NaN
(1602.52, 1753.9]            213.4
...                            ...
(45654.1, 45805.48]            NaN
(45805.48, 45956.86]           NaN
(45956.86, 46108.24]           NaN
(46108.24, 46259.62]           NaN
(46259.62, 46411.0]         1217.8

[300 rows x 1 columns]